@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Serif+Old+Uyghur&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(174 206 228);
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}
.contact {
    display: flex;
    background-color: #ffbc62;
    border-bottom: 2px solid;
    justify-content: right;
    padding-right: 200px;
    text-transform: uppercase;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    background-color: bisque;
    border-bottom: 2px solid;
    height: 140px;
}

.navbar .img{
    height: max-content;
}

.navbar .img img {
    margin-left: 80px;
    width: 9rem;
    display: flex;
    flex-direction: row;
}

.navbar .text {
    margin-top: 25px;
}

.navbar h1 {
    font-size: 40px;
    margin-left: 15rem;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    width: 430px;
    margin-top: -8rem;
}

.navbar p {
    font-family: 'Noto Serif Old Uyghur', serif;
    font-size: 30px;
    margin-left: 14rem;
    margin-bottom: 38px;
}

.navbar .nav {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.navbar .nav p {
    margin-left: 80px;
}

.navbar .nav p a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar .nav p a:hover {
    color: rgb(255, 0, 0);
    border-bottom: 2px solid;
}

.home {
    height: 500px;
    border-bottom: 2px solid;
    overflow: hidden;
}

.home img {
    position: relative;
    z-index: 0;
    border: 4px solid;
    max-width: 80vw;
    margin-top: 50px;
    margin-left: 7vw;
    height: 400px;
    filter: blur(0.1px) grayscale(0.32) brightness(0.6);
}

.home .image{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

.home .image h1{
    color:rgb(250, 152, 82);
    margin-top: 6rem;
    position: absolute;
}


.home .image p{
    color:white;
    margin-top: 12rem;
    position: absolute;
}
.home .image h3{
    z-index: 1;
    color: #00ffd0;
    position: relative;
    top: -6rem;
}
.home .image span{
    color:white;
    margin-top: 18rem;
    position: absolute;
}

.home .image button{
    background-color: rgb(0, 209, 199);
    margin-top: 22rem;
    position: absolute;
    color: black;
    width: 215px;
    height: 36px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 17px;
    z-index: 1;
}


.home .image button:hover{
    background-color: rgb(3, 156, 167);
    cursor: pointer;
}

.home .image button a{
    text-decoration: none;
    color: black;
}

#Rankers {
    margin-top: 4vh;
    height: 0%;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
#Rankers .rankh img{
    height: 3rem;
    margin-top: 20px;
    margin-left: 15px;
    position: absolute;
}
#Rankers .rankh h3 {
    background-color: #007cff;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height:15vh;
    align-items: center;
    font-size: 3vw;
    letter-spacing: 3px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
#Rankers .rankname{
    background-color: #004792;
    height: 70px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Rankers .rankname:hover{
    height: 73px;
    background-color: #0457b1;
    margin: 0px;
}

#Rankers .rankname p{
    font-size: 25px;
    color: aliceblue;
    margin-left: 14px;
    margin-right: 0px;
}

#Rankers .rankname span{
    font-size: 25px;
    color: aliceblue;
    margin-left: 6vw;
    margin-right: 13vw;
}

#Rankers .std{
    background-color: #ffbc62;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

#Rankers .std p{
    margin: 0%;
}

#Rankers .std span{
    margin-left: 0%;
}

#Rankers .ranknamebtn{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 44vw;
    background-color: lightskyblue;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#Rankers .ranknamebtn button{
    background-color: #0c81ff;
    border: 2px solid black;
    border-radius: 10px;
    width: 40vw;
    font-size: 20px;
}

#Rankers .ranknamebtn button a{
    text-decoration: none;
    color: black;
}

#Rankers .ranknamebtn button:hover{
    cursor: pointer;
    background-color: #0068d8;
}

.footer{
    background-color: lightseagreen;
    height: 4vw;
    border-top: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

